{% extends 'layout.html' %}
{% block head %}
<title>Employee</title>
{% endblock %}
{% block main %}
<main class="flex flex-col p-4 mb-auto space-y-6">
    <div class="flex flex-col mx-auto md:space-x-10 md:flex-row md:space-y-0">
        <img src="{{url_for('static', filename='images/avatar.jpg')}}" alt=""
            class="w-2/3 mx-auto mb-4 duration-500 rounded-xl hover:scale-105 h-2/3 md:w-1/3 md:h-1/3">
        <div class="flex flex-col mb-auto text-lg font-light md:text-xl">
            <p>First Name: <span class="font-medium" id="first-name">NA</span></p>
            <p>Last Name: <span class="font-medium" id="last-name">NA</span></p>
            <p>Employee ID: <span class="font-medium" id="emp-id">NA</span></p>
            <p>Date of Birth: <span class="font-medium" id="date-of-birth">NA</span></p>
            <p>Gender: <span class="font-medium" id="gender">Male</span></p>
            <p>Admin Access: <span class="font-medium" id="admin">NA</span></p>
        </div>
        <div class="flex flex-col mb-auto text-lg font-light md:text-xl">
            <p>Email: <span class="font-medium" id="email">NA</span></p>
            <p>Date Created: <span class="font-medium" id="acc-created">NA</span></p>
            <p>Position: <span class="font-medium" id='position'>NA</span></p>
            <p>Phone Number: <span class="font-medium" id="phone-number">NA</span></p>
            <p>Address: <span class="font-medium" id="address">NA</span></p>
        </div>
    </div>
    <div class="flex items-center justify-between px-2 py-1 bg-blue-100 border-b-2 rounded-md shadow-lg hover:cursor-pointer shadow-gray-300"
        id="table-drop">
        <h1 class="text-lg md:text-xl">View all recorded data</h1>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6" id="arrow-down">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
        </svg>
    </div>
    <div class="container p-2 mx-auto rounded-md sm:p-4" id="emp-table">
        <div class="overflow-x-auto">
            <table class="min-w-full text-sm">
                <thead class="text-base rounded-t-lg">
                    <tr class="text-right">
                        <th title="Ranking" class="p-3 text-left">#</th>
                        <th title="datetime" class="p-3 text-left">Date-Time</th>
                        <th title="cluster-id" class="p-3">Cluster ID</th>
                        <th title="photo" class="p-3">Photo</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/emp.js')}}"></script>
{% endblock %}